# Ignore Terraform state files
*.tfstate
*.tfstate.*

# Ignore Terraform crash log files
crash.log
crash.*.log

# Ignore Terraform plan files
*.tfplan

# Ignore local .terraform directories
.terraform/

# Ignore override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore sensitive variable files
*.tfvars
*.tfvars.json

# Ignore Kubernetes configs (if local)
.kube/

# macOS system files
.DS_Store

# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
